.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Garante que o padding não afete a largura */
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}